<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.mitul.dankawala">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Dankawala">
        <activity
            android:name=".design.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".design.MainActivity" />
        <activity
            android:name=".design.SummeryActivity"
            android:parentActivityName=".design.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".design.MainActivity" />
        </activity>
        <activity
            android:name=".design.MemberActivity"
            android:parentActivityName=".design.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".design.MainActivity" />
        </activity>
        <activity
            android:name=".design.UserActivity"
            android:parentActivityName=".design.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".design.MainActivity" />
        </activity>
        <activity
            android:name=".design.HelpActivity"
            android:parentActivityName=".design.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".design.MainActivity" />
        </activity>
    </application>

</manifest>
